.edt-new-btn{
    background-color: var(--colorE);
    box-shadow: inset 0 0 1vmax var(--font-color);
}
.edt-location-lvl{
    width: 1.5em;
    margin: auto;
    margin-top: 0.3em;
    height: fit-content;
}
.edt-level-row{
    display: flex;
}
.specie-block > input{
    flex-grow: 1;
}
#builder-edt-save{
    display: flex;
    min-height: 3em;
}

#builder-edt-save > span{
    margin: auto;
}

#trainers-infobar2{
    height: 1.5em;
}
#trainers-infobar0{
    height: 1em;
}
#trainers-infobar2 > div, #trainers-infobar0 > *, #trainers-infobar > *{
    margin: auto;
}
#trainers-infobar0 > input, #trainers-infobar0 > select, #trainers-infobar > input{
    font-size: 0.65em;
    text-align: center;
}
#trainers-infobar-err{
    color: red;
}

.trainers-infobar > * {
    margin-left: 0.5em;
}

input#trainers-name, input#trainers-NAME, input#trainers-tclass{
    width: 14em;
}

.mod-stat-num{
    background-color: var(--font-color);
}
input.mod-stat-num{
    font-size: 1em;
}

#specie-basestats-mod .stat-name{
    width: 2em;
}

.edt-panel-desc{
    height: 50vh;
    width: 50vw;
    min-width: fit-content;
    background-color: var(--colorA);
}
.edt-desc-textarea{
    width: 100%;
    height: 25vh;
    font-size: 0.7em;
}

.edt-desc-display{
    user-select:text;
    font-size: 0.6em;
}
.edt-desc-save {
    display: flex;
}
.edt-desc-save > span{
    margin: auto;
}

#moves-edt-data input{
    flex-grow: 1;
    width: 0;
    min-width: 3em;
    font-size: 1em;
    margin: 0;
    padding: 0;
    outline: 0;
}
#moves-edt-flags{
    flex-grow:unset!important;
    width: 100%!important;
    height: fit-content;
}
#moves-edt-big-desc{
    background-color: var(--colorD);
    resize: none;
}
#moves-edt-small-desc{
    resize: none;
    background-color: var(--colorC);
}
.moves-top{
    height: fit-content;
}

