.edt-new-btn{
    background-color: var(--colorE);
    box-shadow: inset 0 0 1vmax var(--font-color);
}
.edt-location-lvl{
    width: 1.5em;
    margin: auto;
    margin-top: 0.3em;
    height: fit-content;
}
.edt-level-row{
    display: flex;
}
.specie-block > input{
    flex-grow: 1;
}
#builder-edt-save{
    display: flex;
    min-height: 3em;
}

#builder-edt-save > span{
    margin: auto;
}

#trainers-infobar2{
    height: 1.5em;
}
#trainers-infobar0{
    height: 1em;
}
#trainers-infobar2 > div, #trainers-infobar0 > *{
    margin: auto;
}
#trainers-infobar0 > input, #trainers-infobar0 > select{
    font-size: 0.65em;
    text-align: center;
}
#trainers-infobar-err{
    color: red;
}

.trainers-infobar > * {
    margin-left: 0.5em;
}

input#trainers-name{
    width: 16em;
}

input#trainers-tclass{
    width: 16em;
}