.edt-location-lvl{
    width: 1.5em;
    margin: auto;
    margin-top: 0.3em;
    height: fit-content;
}
.edt-level-row{
    display: flex;
}
.specie-block > input{
    flex-grow: 1;
}
#builder-edt-save{
    display: flex;
    min-height: 3em;
}

#builder-edt-save > span{
    margin: auto;
}